<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".activity.CreateAdmin"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningManagementSystem"
        tools:targetApi="31">
        <activity
            android:name=".MainTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountSectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TopNavigationBarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavigationBarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InforClassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AbsenceRequestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListClassesByTopic"
            android:exported="false" />
        <activity
            android:name=".activity.InteractionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InteractionAdminActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreationClassActivity"
            android:exported="false" />
        <activity
            android:name=".MainAdminActivity"
            android:exported="false" />
    </application>

</manifest>